<div class="container">
  <h2>NEWS STORY</h2>
  <div class="row" *ngIf="!showData">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" required
            [(ngModel)]="title" #title1="ngModel" >
          <span class="help-block" *ngIf="!title1.valid && title1.touched">Please enter a valid title!</span>
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="text" placeholder="Enter username" name="username" required
            [(ngModel)]="username" #username1="ngModel">
          <span class="help-block" *ngIf="!username1.valid && username1.touched">Please enter a valid username!</span>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" type="textarea" id="description" placeholder="Enter description"
            name="description" required [(ngModel)]="description"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        <button class="btn btn-secondary" type="button" (click)="viewStory()">Populate Data</button>
      </form>
    </div>
  </div>
  <hr>
  <div *ngIf="showData && data.length">
    <div *ngFor="let showdata of data">
      <h3>Your Data</h3>
      <p>Title: {{ showdata.title }}</p>
      <p>Username: {{ showdata.username }}</p>
      <p>Description: {{ showdata.description }}</p>
    </div>
  </div>
</div>